<h2>Por favor, entre com seu usu치rio</h2>

<form method="post" action="/login">
    <label for="username">Nome de usu치rio:</label>
    <p><input type="text" name="username" id="username" placeholder="Digite seu nome de usu치rio"></p><br>
    <label for="password">Nome de usu치rio:</label>
    <p><input type="text" name="password" id="password" placeholder="Digite sua senha"></p><br>
    <input type="submit" value="Entre">
</form>

<p> <a href="/"><button>Go Back</button></a></p>

    