<% if flash[:message] %>
  <h2><%= flash[:message] %></h2>
<% end %>

<h2>Please, enter your user name and password</h2>

<form method="post" action="/login">
    <p>
        <label for="username">User name:</label>
        <input type="text" name="username" id="username" placeholder="Type username">
    </p><br>
    <p>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Type password">
    </p><br>
    <input type="submit" value="Log In">
</form>

<p> <a href="/"><button>Go Back</button></a></p>

    