<h2>Crie sua conta</h2>

<form action="/signup" method="post">
    <label for ="username">Nome de usuário:
    <input type="text" name="username"><br>
    <label for ="email">Email:
    <input type="text" name="email"><br>
    <label for ="password">Senha:
    <input type="text" name="password"><br>
    <input type="submit" value="Criar">
</form>
<br></br>

<p> <a href="/"><button>Go Back</button></a></p>