<p class="text-danger">
<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>
</p>


<h2>Welcome! Create an account below</h2>

<form action="/signup" method="post">
    <label for ="username">Username:
    <input type="text" name="username" placeholder="Type username"><br>
    <label for ="email">Email:
    <input type="text" name="email" placeholder="Type email"><br>
    <label for ="password">Password:
    <input type="password" name="password" placeholder="Type password"><br>
    <input type="submit" value="Sign Up">
</form>
<br></br>
