<%# SHOW THE CURRENT CODE CREATED %>

<h1>Code</h1>

<p>Code: <%=@c.code%></p>
<p>Code Type: <%=@c.code_type%></p>
<p>Title: <%=@c.title%></p>

<p><a href='/codes/<%=@c.id%>/edit'><button>Edit</button></a></p>