<h2>Hello <%=@user.username%></h2>

<p>Equipment: <%=@maintenance.equipment.name%></p>
<p>Code: <%=@maintenance.equipment.code%></p>
<p>Status: <%=@maintenance.status%></p>



<%# <p>Please, choose what kind of maintenance this equipment is going to receive</p> %>
