<h1>Bem Vindo!</h1>
<label>Crie sua conta</label>
<a href='/signup'><button>Signup</button></a>
<br></br>
<label>Entre com seu usuário</label>
<a href='/login'><button>Login</button></a>
    
    
    
    
